.fc-event {
  cursor: pointer;
}
.birs_scene {
  background: white;
}
.birs_scene .navbar-brand {
  padding: 8px;
}
.birs_scene .navbar-collapse {
  padding-left: 8px;
  padding-right: 8px;
}
#birs_calendar_menu .input-group {
  display: inline-table;
}
#birs_calendar_menu select {
  width: 15em;
}
.updated.fade {
  opacity: 1;
}
