body {
    background-color: transparent;
}

.fc-event {
    cursor: pointer;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.birs_scene {    
    .navbar-brand {
        padding: 8px;
    }
    .navbar-collapse {
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar {
        margin-bottom: 0;
    }
}

#birs_calendar_header {
    background-color: white;
    padding-top: 8px;
}

#birs_calendar {
    background-color: white;
}

#birs_calendar_menu {
    .input-group {
        display: inline-table;
    }
    select {
        width: 15em;
    }
}

.updated.fade {
    opacity: 1;
}
